:root {
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#1678f7;
    --cor-de-fundo:#00030C;

}

body{
background-color: var(--cor-de-fundo);
color:var(--branco-principal);
}

. {
    padding: 0;
    margin: 0;
} 

.principal{
 background-image: url(Background.png);
background-repeat: no-repeat;
background-size: contain;
align-items: center;
text-align: center;
}

.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
    font-size: 25px;
}
 
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 16px;
    padding: 1em;
    color:var(--branco-principal);
    display:block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container_botao_segundario{
    background-color:transparent ;
    border:2px solid var(--branco-principal);
    border-radius:16px;
}

.container_aviso{
   font-size: 19px;
   color: var(--cinza-secundario) ;

}

.container__titulo{
  font-size: 28px;
  font-weight: 700;

}
 
.container__imagem {
   margin: 1m 0 2em 0;

}

.container__caixa {

    margin: 0 6em;
    margin-top: 150px;
}

.secundario__imagem {
width: 80%;
align-items: center;
}

.secundario{
     align-items: center;
}

    .secundario__titulo{
     font-weight: 700;
     font-size: 48px;
     color: var(--branco-principal);
     margin: 0.1em;
    }

    .descricao__texto{
        color: var(--cinza-secundario);
    }
    
    .secundario__botao{
    display: inline-block;
    padding:1em;
    }

    .container__descricao {
        padding:2em;
    }

    .dispositivos__lista  {
    display:flex;
    justify-content: center;
    list-style-type:none;
    margin: 5em 0 ;

    }

     .dispositivos {
    text-align: center;
     }
 
      .dispositivos__titulo {
      font-size: 48px;
      
      }

      .dispositivo__item{
        font-size: 32px;
      }

      .rodape{
        text-align:center;
        margin: 5em 3em;
      }

      .rodape__lista{
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 1em;
      }

      .lista__link a {
        text-decoration: none;
        color: var(--branco-principal);
        margin-left: 1em;
      }